# dependencies
node_modules

# build output
dist

# environment
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
*.log

.agent\skills\*

